<div class="row pt-4 pb-4">
  <div class="col-md-12">
    <h2 class="text-center"><a href="#" id="career">Career</a></h2>
    <p class="text-center pb-4 under-line">以下、これまでの経歴になります。</p>
  </div>
</div>
<div class ="career-item row mx-auto pt-2 pb-2 mb-4" style="width: 75%;">
  <aside class="col-md-4">
    <p>
      サービス業<br>
      精肉部門チーフ
    </p>
    <p>
      2003年4月～2008年2月
    </p>
  </aside>
  <div class="col-md-8">
    仕入れから、販売、売り場展開まで全て担当。<br>
    パート社員のマネジメント業務も経験。<br>
    <br>
    最後に勤めた店舗では、今までの経験を活かし<br>
    メニュー提案、試食販売を行い、お客様との繋がりを大切に。<br>
    廃棄ロス、チャンスロスを徹底的に無くすように努めました。<br>
    <br>
    利益率は、昨年対比で 100％まで持ち直す事に成功。<br>
    売上高は90％から97％に上げる事が出来ました。<br>
  </div>
</div>
<div class ="career-item row mx-auto pt-2 pb-2 mb-4" style="width: 75%;">
  <aside class="col-md-4">
    <p>
      ナツメ株式会社<br>
      デバッガー／プログラマー
    </p>
    <p>2009年4月～2010年2月</p>
  </aside>
  <div class="col-md-8">
    <p>
      デバッガーアルバイトとして入社。<br>
      １プロジェクト終了後<br>
      担当を引き継ぎ、iPhone アプリ開発に従事。<br>
      約半年間で６つのアプリを新規開発、改修しました。
    </p>
  </div>
</div>
<div class ="career-item row mx-auto pt-2 pb-2 mb-4" style="width: 75%;">
  <aside class="col-md-4">
    <p>
      株式会社<br>
      ブラウニーブラウン<br>
      プランナー／プログラマ
    </p>
    <p>
      2010年4月～2013年2月
    </p>
  </aside>
  <div class="col-md-8">
    <p>
      「プログラムのわかるプランナー」として入社。<br>
      その後、プログラマに転向。家庭用ゲームの開発に従事。<br>
      ３年間、１つのプロジェクトに関わっていました。
    </p>
  </div>
</div>
<div class ="career-item row mx-auto pt-2 pb-2 mb-4" style="width: 75%;">
  <aside class="col-md-4">
    <p>
      １ーＵＰスタジオ株式会社<br>
      プログラマ
    </p>
    <p>
      2013年3月～2019年4月
    </p>
  </aside>
  <div class="col-md-8">
    <p>
      社名が変更になり、親会社様とより密接にお仕事させて頂く事に。<br>
      約６年間の間に経験させて頂いたのは<br>
      家庭用ゲーム開発、スマートフォン向けアプリ開発<br>
      3Dソフトのプラグイン開発など、計５プロジェクト。
    </p>
  </div>
</div>
<div class="pb-3">
</div>
