<div class="row">
  <div class="col-sm-12 col-md-offset-5">
    <p class="text-center">Career</p>
    <p class="text-center">以下、これまでの経歴になります。</p>
  </div>
  <aside class="col-sm-3">
    <p>
      経歴
    </p>
    <p>
      期間
    </p>
  </aside>
  <div class="col-sm-7">
    <p>内容</p>
  </div>
</div>
