<p class="text-center">Hobby</p>
<p class="text-center border-bottom">趣味でもアウトプットを心がけています。</p>
<div class="row hobby-box">
  <aside class="col-sm-6">
    aaaaaaaaaa
  </aside>
  <div class="col-sm-6">
    <p>ブログ運営</p>
    <p>ゆるっと、つぶやきブログ</p>
    <p>
      休日や、空いた時間を活用してブログを運営しています。<br>
      趣味や日々感じた事、技術的な事まで好きな事を執筆する雑記ブログです。<br>
    </p>
  </div>
</div>