<div class="row pt-4 pb-4">
  <div class="col-sm-12">
    <h2 class="text-center">Hobby</h2>
    <p class="text-center pb-4 under-line">趣味でもアウトプットを心がけています。</p>
  </div>
</div>
<div class ="row hobby-item mx-auto pt-4 pb-4 mb-5" style="width: 800px;">
  <aside class="col-sm-6">
    <%= image_tag('hobby_001.jpg', :class => "img-fluid") %>
  </aside>
  <div class="col-sm-6">
    <h3 class="pb-4">ブログ運営</h3>
    <p class="pb-4 under-line"><a href="https://yurutsubu.com/" target="_blank">ゆるっと、つぶやきブログ</a></p>
    <p>
      休日や、空いた時間を活用してブログを運営しています。<br>
      趣味や日々感じた事、技術的な事まで好きな事を執筆する雑記ブログです。<br>
    </p>
  </div>
</div>

<div class ="row hobby-item mx-auto pt-4 pb-4 mb-5" style="width: 800px;">
  <aside class="col-sm-6">
    <%= image_tag('hobby_002.jpg', :class => "img-fluid") %>
  </aside>
  <div class="col-sm-6">
    <h3 class="pb-4">動画投稿／配信</h3>
    <p class="pb-4 under-line">
      <a href="https://www.nicovideo.jp/mylist/63761380" target="_blank">ニコニコ動画</a>／
      <a href="https://www.youtube.com/channel/UCOVRdxNYjVnXf68lu4I73zQ" target="_blank">Youtube</a>
    </p>
    <p>
      主にゲーム実況をしています。<br>
      ただゲームをするだけでなく、トーク力や動画編集力を身につける目的で行っています。<br>
      といいつつほとんど趣味ですw
    </p>
  </div>
</div>

<div class ="row hobby-item mx-auto pt-4 pb-4 mb-5" style="width: 800px;">
  <aside class="col-sm-6">
    <%= image_tag('hobby_003.jpg', :class => "img-fluid") %>
  </aside>
  <div class="col-sm-6">
    <h3 class="pb-4">アプリ開発</h3>
    <p class="pb-4 under-line">
      <a href="https://github.com/halneko5121" target="_blank">Githubのリンク</a>
    </p>
    <p>
      空いた時間を活用して、個人的にアプリ開発する事もあります。<br>
      そういった事が本業に活きる事もあると思っています。<br>
      相乗効果を狙っていきたいですね。
    </p>
  </div>
</div>

<div class="pb-2">
</div>