<div class="row">
  <div class="col-md-12">
    <div class="main-visual-image">
      <%= image_tag('main_visual.jpg', :class => "img-fluid") %>
    </div>
    <div class="pt-3 pl-4 main-visual-content">
      <h1>Portfolio</h1>
      <p>
        こちらは はるねこ（<a href="https://twitter.com/hal_neko?lang=ja/" target="_blank" class="u-line">@hal_neko</a>）
        のポートフォリオサイトとなっています。<br>
        これまでの経験やスキルを棚卸しし、都度、自身の市場価値を確認できるようにと立ち上げました。<br>
        よろしければ御覧ください。</p>
    </div>
  </div>
</div>
