<div class="row">
  <div class="col-md-12 main-visual-image">
    <% # image_tag('main_visual.jpg') %>
  </div>
</div>
<h1>Portfolio</h1>
<p>こちらは はるねこ（@hal_neko） のポートフォリオサイトとなっています。<br>
   これまでの経験やスキルを棚卸しし、都度、自身の市場価値を確認できるようにと立ち上げました。<br>
   良かったら御覧ください。</p>