<div class="row">
  <aside class="col-sm-6">
    <%= image_tag('profile.jpg', :class => "img-fluid") %>
  </aside>
  <div class="col-sm-6 pt-4 pb-4 pl-4 pr-4">
    <h2><a href="#" id="profile">Profile</a></h2>
    <p class="pt-4 pb-4 under-line">好奇心旺盛な人柄</p>
    <p>
      昔から色々なものに興味をもつ人間でした。<br>
      新たなサービスや技術、未来的なものには興味津々です。<br>
      スペシャリストというよりはゼネラリスト向きな人間だと思っています。<br>
      <br>
      ゲーム業界でプログラマとして<br>
      約９年ほど働き、次のフィールドを探し中です。<br>
      趣味でブログや動画投稿等も行っています。<br>
      <br>
      ゲーム、アニメ、漫画や、ネコ、麻雀が好きです。<br>
      <br>
      ユーザーを楽しませる。<br>
      そんな開発に従事できる事を常々願っています。<br>
      ご興味のある方はお問い合わせください。<br>
    </p>
    <div class="d-flex flex-row">
      <a href="https://yurutsubu.com/" class="btn btn-primary mt-3 mr-4">Blog</a>
      <a href="https://twitter.com/hal_neko?lang=ja/" class="btn btn-primary mt-3 mr-4">Twitter</a>
    </div>
  </div>
</div>
