<div class="row pt-4 pb-4">
  <div class="col-sm-12">
    <h2 class="text-center"><a href="#" id="skill">Skill</a></h2>
    <p class="text-center pb-4 under-line">今まで触れてきたもの</p>
  </div>
</div>
<div class ="d-flex flex-row justify-content-around mx-auto mb-5" style="width: 700px;">
  <div class="col-sm-4 skill-box">
    <p>
      C＋＋<br>
      ★★★★☆
    </p>
    <p>経験約8年ほど</p>
  </div>
  <div class="col-sm-4 skill-box">
    <p>
      C＃<br>
      ★★☆☆☆
    </p>
    <p>経験約1年ほど</p>
  </div>
</div>
<div class ="d-flex flex-row justify-content-around mx-auto mb-5" style="width: 700px;">
  <div class="col-sm-4 skill-box">
    <p>
      Objective-C<br>
      ★★☆☆☆
    </p>
    <p>経験約1年ほど</p>
  </div>
  <div class="col-sm-4 skill-box">
    <p>
      Ruby<br>
      ★★★☆☆
    </p>
    <p>経験約3年ほど</p>
  </div>
</div>
<div class ="d-flex flex-row justify-content-around mx-auto mb-5" style="width: 700px;">
  <div class="col-sm-4 skill-box">
    <p>
      Python<br>
      ★★☆☆☆
    </p>
    <p>経験約1年ほど</p>
  </div>
  <div class="col-sm-4 skill-box">
    <p>
      Ruby on rails<br>
      ★☆☆☆☆
    </p>
    <p>経験約半年ほど</p>
  </div>
</div>
<div class ="d-flex flex-row justify-content-around mx-auto mb-5" style="width: 700px;">
  <div class="col-sm-4 skill-box">
    <p>
      Xamarin.Forms<br>
      ★★☆☆☆
    </p>
    <p>経験約1年ほど</p>
  </div>
  <div class="col-sm-4 skill-box">
    <p>
      HTML/CSS/Bootstrap<br>
      ★☆☆☆☆
    </p>
    <p>経験約半年ほど</p>
  </div>
</div>
<div class ="d-flex flex-row justify-content-around mx-auto mb-5" style="width: 700px;">
  <div class="col-sm-4 skill-box">
    <p>
      MySQL<br>
      ★☆☆☆☆
    </p>
    <p>経験約半年ほど</p>
  </div>
  <div class="col-sm-4 skill-box">
    <p>
      ブログ運営（Wordpress）<br>
      ★★☆☆☆
    </p>
    <p>経験約1年ほど</p>
  </div>
</div>
<div class="pb-3">
</div>
