<p class="text-center">Skill</p>
<p class="text-center border-bottom">今まで触れてきたもの</p>
<div class="d-flex flex-row">
  <div class="col-sm-4 skill-box">
    <p>
      C＋＋<br>
      ★★★★☆
    </p>
    <p>経験約8年ほど</p>
  </div>
  <div class="col-sm-4 skill-box">
    <p>
      C＃<br>
      ★★☆☆☆
    </p>
    <p>経験約1年ほど</p>
  </div>
</div>
