<div class="row pt-4 pb-4">
  <div class="col-sm-12">
    <h2 class="text-center"><a href="#" id="study">Study</a></h2>
    <p class="text-center pb-4 under-line">空いた時間に学習を心がけています。</p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-sm-12 pt-3 pb-3 pl-3 pr-3 works-item">
    <h3 class="under-line">
      <a href="https://hikacoo.herokuapp.com/" target="_blank" class="u-line">Hikacoo</a></p>
    </h3>
    <p>通販商品価格比較アプリ</p>
    <p>
      オンラインスクールを活用し、Ruby on rails にて開発しました。<br>
      開発期間：約80時間<br>
      学んだスキル：<br>
      「html/css/bootstrap」「ruby/ruby on rails」「MySQL」<br>
      「heroku」「Cloud9（AWS）」「github」
    </p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-sm-12 pt-3 pb-3 pl-3 pr-3 study-item">
    <h3 class="under-line">
      <a href="/" target="_blank" class="u-line">Portfolio</a></p>
    </h3>
    <p>ポートフォリオサイト</p>
    <p>
      本サイトです。<br>
      開発期間：約12時間<br>
      学んだスキル：<br>
      「html/css/bootstrap」「ruby/ruby on rails」<br>
      「heroku」「Cloud9（AWS）」「github」
    </p>
  </div>
</div>
<div class="pb-4">
</div>
