<p class="text-center">Study</p>
<p class="text-center border-bottom">空いた時間に学習を心がけています。</p>
<div class="row">
  <div class="col-sm-12 box">
    <p><a href="https://hikacoo.herokuapp.com/" target="_blank" class="u-line">Hikacoo</a></p>
    <p>通販商品価格比較アプリ</p>
    <p>
      オンラインスクールを活用し、Ruby on rails にて開発しました。<br>
      開発期間：約80時間<br>
      学んだスキル：<br>
      「html/css/bootstrap」「ruby/ruby on rails」「MySQL」<br>
      「heroku」「Cloud9（AWS）」「github」
    </p>
  </div>
</div>
