<p class="text-center">Tools</p>
<p class="text-center border-bottom">今まで触れてきた開発ツールやサービス等</p>
<div class="d-flex flex-row">
  <div class="col-sm-4 tools-box">
    <p>
      VisualStudio<br>
      Xamarin
    </p>
  </div>
  <div class="col-sm-4 tools-box">
    <p>
      Xcode
    </p>
  </div>
</div>
