<div class="row pt-4 pb-4">
  <div class="col-sm-12">
    <h2 class="text-center"><a href="#" id="tools">Tools</a></h2>
    <p class="text-center pb-4 under-line">今まで触れてきた開発ツールやサービス等</p>
  </div>
</div>
<div class ="mx-auto mb-5" style="width: 40%;">
  <ul>
    <li>VisualStudio／Xamarin／Xcode／Cloud9（AWS）</li>
    <li>Git／Github／GitLab／TortoiseGit／SourceTree</li>
    <li>SVN／TortoiseSVN</li>
    <li>Atom／notepad++</li>
    <li>Confluence／JIRA／Redmine／Wiki</li>
    <li>Jenkins／Heroku／WordPress</li>
    <li>AVerMedia RECentral／aviutl／audacity</li>
  </ul>
</div>
<div class="pb-3">
</div>