<p class="text-center">Works</p>
<p class="text-center border-bottom">幅広い案件を経験しました</p>
<div class="row">
  <div class="col-sm-12 box">
    <p>デバッガー他</p>
    <p>2009年4月~7月（約4ヶ月）</p>
    <p>
      家庭用ゲームのデバッガーを１プロジェクト経験。<br>
      その他、3Dオブジェクトの配置業務手伝い。
    </p>
  </div>
</div>
