<div class="row pt-4 pb-4">
  <div class="col-lg-12">
    <h2 class="text-center"><a href="#" id="works">Works</a></h2>
    <p class="text-center pb-4 under-line">幅広い案件を経験しました。</p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-lg-12 pt-3 works-item">
    <h3 class="under-line">デバッガー他</h3>
    <p>2009年4月~7月（約4ヶ月）</p>
    <p>
      家庭用ゲームのデバッガーを１プロジェクト経験。<br>
      その他、3Dオブジェクトの配置業務手伝い。
    </p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-lg-12 pt-3 pb-3 pl-3 pr-3 works-item">
    <h3 class="under-line">iPhone アプリ開発✕６</h3>
    <p>2009年8月~2010年2月（約7ヶ月）</p>
    <p>
      プログラマは自分１人。<br>
      開発環境整備、アプリ開発、リリース等担当。<br>
      [プロジェクト規模]<br>
      ・約3人（PL/PG/CG）<br>
      [役割]<br>
      ・リードプログラマ（１人なので）<br>
      [開発環境]<br>
      ・Mac、Xcode、Objectiv-C、Alienbrain<br>
    </p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-lg-12 pt-3 pb-3 pl-3 pr-3 works-item">
    <h3 class="under-line">家庭用ゲーム開発</h3>
    <p>2010年9月~2012年12月（約2年3ヶ月）</p>
    <p>
      家庭用ゲームの開発（3DS：アクションRPG）<br>
      主にAI関連、キャラクターの挙動作成、プランナー不足から仕様も作成。<br>
      [プロジェクト規模]<br>
      ・約30名以上<br>
      [役割]<br>
      ・プログラマ<br>
      [開発環境]<br>
      ・Win, VisualStudio, C/C++, VBA, Access, SVN, Jenkins, Redmine
    </p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-lg-12 pt-3 pb-3 pl-3 pr-3 works-item">
    <h3 class="under-line">家庭用ゲームアプリ開発</h3>
    <p>2013年4月~7月（約4ヶ月）</p>
    <p>
      家庭用ゲームアプリの開発（お絵かきアプリ）<br>
      主に、機能改修、コンテンツ追加対応を担当。<br>
      <br>
      [プロジェクト規模]<br>
      ・約30名以上<br>
      [役割]<br>
      ・プログラマ<br>
      [開発環境]<br>
      ・Win, VisualStudio, C/C++, SVN, Jenkins, Redmine
    </p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-lg-12 pt-3 pb-3 pl-3 pr-3 works-item">
    <h3 class="under-line">家庭用ゲーム開発</h3>
    <p>2014年9月~2015年7月（約11ヶ月）</p>
    <p>
      家庭用ゲームの開発（3DS：アクション）<br>
      主にキャラクターの挙動作成。<br>
      <br>
      [プロジェクト規模]<br>
      ・約50名以上<br>
      [役割]<br>
      ・プログラマ<br>
      [開発環境]<br>
      ・Win, VisualStudio, C/C++, SVN, Jenkins
    </p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-lg-12 pt-3 pb-3 pl-3 pr-3 works-item">
    <h3 class="under-line">DCCソフトのプラグイン開発</h3>
    <p>2015年10月~2016年9月（約1年）</p>
    <p>
      3Dソフト（Maya）のプラグライン開発に従事。<br>
      主に、チームの取りまとめ、マネジメント業務を行いました。<br>
      <br>
      [プロジェクト規模]<br>
      ・約6名ほど<br>
      [役割]<br>
      ・チームリーダー<br>
      [開発環境]<br>
      ・Win, python, Maya, SVN, Wiki(Pukiwiki)
    </p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-lg-12 pt-3 pb-3 pl-3 pr-3 works-item">
    <h3 class="under-line">スマートデバイス向けアプリ開発</h3>
    <p>2016年10月~2017年8月（約11ヶ月）</p>
    <p>
      クロスプラットフォーム（iOS、Android） 向けアプリの開発。<br>
      主にUI作成を担当。<br>
      <br>
      [プロジェクト規模]<br>
      ・約20名ほど<br>
      [役割]<br>
      ・プログラマ<br>
      [開発環境]<br>
      ・Win, Mac, C#, Xamarin, Jira, Confluence, Git
    </p>
  </div>
</div>
<div class ="row mx-auto mb-4" style="width: 65%;">
  <div class="col-lg-12 pt-3 pb-3 pl-3 pr-3 works-item">
    <h3 class="under-line">家庭用ゲーム開発</h3>
    <p>2017年9月~2019年3月（約1年7ヶ月）</p>
    <p>
      家庭用ゲーム開発（Switch：アクション）<br>
      主に規模の大きめのミニゲームを複数担当。<br>
      <br>
      [プロジェクト規模]<br>
      ・約50名以上<br>
      [役割]<br>
      ・プログラマ<br>
      [開発環境]<br>
      ・Win, C++, VisualStudio, IncrediBuild, Confluence, Perforce
    </p>
  </div>
</div>
<div class="pb-3">
</div>
