/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: #ECD7B9;
	font-family: "ＭＳ ゴシック", Arial, "メイリオ","Meiryo",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.wrapper{
    min-height: 100vh;          /*全て含めてmin-height:100vhに*/
    position: relative;			/*相対位置*/
    padding-bottom: 120px;		/*footerの高さ*/
    box-sizing: border-box;		
}

footer {
    width: 100%;
    background-color: #BCA97D;
    padding: 5px 0;
    position: absolute;	/*絶対位置*/
    bottom: 0; 			/*下に固定*/
}

/* リンク時の色変え */
h2 a:link { color: #000000; }
h2 a:visited { color: #000000; }
h2 a:hover { color: #000000; }
h2 a:active { color: #000000; }
.career h2 a:link, .hobby h2 a:link, .skill h2 a:link { color: #FFFFFF; }
.career h2 a:visited, .hobby h2 a:visited, .skill h2 a:visited { color: #FFFFFF; }
.career h2 a:hover, .hobby h2 a:hover, .skill h2 a:hover { color: #FFFFFF; }
.career h2 a:active, .hobby h2 a:active, .skill h2 a:active { color: #FFFFFF; }

.main-visual {
    color: #FFFFFF;
}

.main-visual-content {
    width: 98%;
    position: absolute;	/*絶対位置*/
    bottom: 0; 			/*下に固定*/
    background-color: rgba(38,40,44,0.8);
}

.profile {
    background-color: #DBC8BE;
}

.career {
    background-color: #1E2025;
    color: #FFFFFF;
}

.works {
    background-color: #DBC7BE;
    color: #000000;
}

.works-item {
    background-color: #1E2025;
    color: #FFFFFF;
}

.hobby {
    background-color: #1E2025;
    color: #FFFFFF;
}

.hobby-item {
    background-color: #26282D;
    color: #FFFFFF;
    align-items: center;    
}

.study {
    background-color: #DBC7BE;
    color: #000000;
}

.study-item {
    background-color: #1E2025;
    color: #FFFFFF;
}

.skill {
    background-color: #1E2025;
    color: #FFFFFF;
}

.skill-box {
	padding       : 27px;                 /* 文字の位置合わせ     */
	background    : #ffcc99;              /* BOXの背景色          */
	border        : 3px dotted #7f4600;   /* 枠線の指定           */
	border-radius : 4px;                  /* 角丸の指定           */
	box-shadow    : 0 0 0 8px #ffcc99;    /* 影を利用した外余白   */
    color         : #000000;
}

.tools {
    background-color: #DBC7BE;
    color: #000000;
}



.under-line {
  text-decoration: underline;
}


/* カーソルカスタマイズ */
body {
    position: relative;
    cursor: none; /* もともとあるカーソルは見えなくなるようにする */
}
 
.custom_cursor,
.follower {
    border-radius: 50%;
    position: absolute; /* bodyの一番左上になるように配置する */
    top: 0;
    left: 0; 
    cursor: none; /* もともとあるカーソルは見えなくなるようにする */
    pointer-events: none; /* 他の要素がクリックできなくならないように */
}
 
.custom_cursor {
    width: 8px;
    height: 8px;
    background-color: #000;
    z-index: 10001; /* どの要素よりも一番上になるようにする */
}
 
.follower {
    width: 40px;
    height: 40px;
	background-color: rgba(253, 254, 0, 0.5);
    z-index: 10000; /* カーソルの次に上になるようにする */
    transition: -webkit-transform ease .1s;
    transition: transform ease .1s;
    transition: transform ease .1s, -webkit-transform ease .1s;
    text-align: center;  
}

.follower span {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	-webkit-transform: scale(0);
	transform: scale(0);
}
.follower.is-active {
	-webkit-transform: scale(3);
	transform: scale(3);
}